
.add-car-div{
height: 1000px;
background-color: white;
padding-top: 100px;
}

.form{
    display: flex;
    flex-flow:wrap;
    align-items: center;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}

.name, .overview, .price, .image{
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    background-color: rgb(214, 207, 203);
}
.image{
    margin-left: 10px;
}
.overview{
    margin-left: 10px;
}
.price{
    margin-left: 20px;
}

.add_car{
    margin-left: 30px;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(236, 8, 8);
}